[submodule "bip44-constants"]
	path = bip44-constants
	url = https://github.com/bitcoinjs/bip44-constants
[submodule "cryptocurrency-icons"]
	path = cryptocurrency-icons
	url = https://github.com/spothq/cryptocurrency-icons.git
[submodule "bip39"]
	path = bip39
	url = https://github.com/iancoleman/bip39
